* {
    margin: 0;
    padding: 0;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
}

body,
html {
    min-width: 1024px;

}

a {
    text-decoration: none;
    color: #222;
}

.clear {
    clear: both;
    line-height: 0;
}

section {
    max-width: 1205px;
    margin: 0 auto;
}

hr {
    color: #ddd;
    background-color: #ddd;
    border-top: 1px solid #ddd;
}

.flexContain {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.group {
    zoom: 1;
}

#alert {
    z-index: 200; 
    display: block;
    position: fixed;
    bottom: 40px;
    right: 5px;
    padding: 20px;
    background-color: #111;
    opacity: 0;
    color: white;
    font-weight: bold;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

#closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

#goto-top-page {
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 100;
    background: rgba(0, 0, 0, .2);
    color: #fff;
    font-size: 18px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    transition-duration: .2s;
}
#goto-top-page:hover {
    background: rgba(0, 0, 0, .7);
    width: 50px;
    height: 50px;
    line-height: 50px;
}

::-webkit-scrollbar {
    width: .7em;
    height: .7em;
}

::-webkit-scrollbar-track {
    background: #eee;
}

::-webkit-scrollbar-thumb {
    background: #999;
}

::-webkit-scrollbar-thumb:hover {
    background: #bbb;
}

.tooltip {
    position: absolute;
    display: inline-block;
    bottom: 5px;
    right: 5px;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 21;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.dot {
    width: 10px;
    height: 10px;
    background-color: #f33;
    border-radius: 100%;
    display: block;
}

.dot .ping {
    border: 1px solid #f33;
    width: 10px;
    height: 10px;
    opacity: 1;
    background-color: rgba(238, 46, 36, .2);
    border-radius: 100%;
    -webkit-animation-duration: 1.25s;
    animation-duration: 1.25s;
    -webkit-animation-name: sonar;
    animation-name: sonar;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    display: block;
    margin: -1px 0 0 -1px;
}

@keyframes sonar {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    100% {
        -webkit-transform: scale(3);
        transform: scale(3);
        opacity: 0
    }
}

.top-nav {
    display: inline-block;
    background: #f1f1f1;
    width: 100%;
    border-bottom: 1px #e1e1e1 solid;
}

.social-top-nav {
    float: left;
    display: table;
}
.social-top-nav a {
    display: table-cell;
    padding: 5px;
    text-align: center;
    font-size: 13px;
    height: 2em;
    width: 2em;
    line-height: 2em;
    color: gray;
    background-color: #f1f1f1;
    transition-duration: .2s;
}

.social-top-nav a:hover { color: #fff; }
.fa-facebook:hover { background: #3B5998; }
.fa-twitter:hover { background: #55ACEE; }
.fa-google:hover { background: #dd4b39; }
.fa-youtube:hover { background: #bb0000; }

.top-nav-quicklink {
    float: right;
}
.top-nav-quicklink li {
    display: inline-block;
    font-size: 1em;
    color: gray;
}
.top-nav-quicklink li a {
    display: block;
    color: gray;
    padding: 8px 15px;
    transition-duration: .15s;
}
.top-nav-quicklink li a:hover {
    padding-top: 4px; 
    border-bottom: 4px solid #000;
    color: #000;
}
.top-nav-quicklink li a:hover i {
    color: Dodgerblue;
}

.header {
    position: sticky;
    position: -webkit-sticky; /* Safari */
    top: 0;
    z-index: 12;
    background-color: white;
    padding: 15px 0 5px 0 ;
    border-bottom: 3px solid #e1e1e1;
}

.header .logo {
    width: 250px;
    height: 60px;
    float: left;
    transition-duration: .1s;
}
.header .logo:hover {
    transform: scale(1.05)
}
.header .logo img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.header .content{
    width: calc(100% - 250px);
    float: left;
}

.search-header {
    float: left;
}

form.input-search {
    margin-left: 20px;
    background: #ddd;
    border: 2px solid #bbb;
    border-radius: 10px;
    height: 35px;
    width: 300px;
}
.input-search input {
    float: left;
    padding-left: 15px;
    border: none;
    border-radius: 10px 0 0 10px;
    height: 100%;
    width: calc(100% - 100px - 20px);
}
.input-search button {
    float: right;
    font-size: 14px;
    font-weight: bold;
    padding: 0 10px;
    color: #888;
    background: none;
    width: 100px;
    height: 100%;
    border: none;
    cursor: pointer;
    -webkit-transition-duration: .3s;
         -o-transition-duration: .3s;
            transition-duration: .3s;
}
.input-search button:hover {
    color: #000;
}

.tags {
    margin: 5px 0 0 20px;
    font-size: 13px;
}
.tags a {
    color: gray;
    padding: 0 5px;
}
.tags a:hover {
    color: black;
    text-decoration: underline;
}

    .autocomplete {
        position: relative;
        height: 100%;
    }
    .autocomplete-items {
        position: absolute;
        border: 1px solid #d4d4d4;
        border-bottom: none;
        border-top: none;
        z-index: 99;
        top: 100%;
        left: 0;
        right: 0;
    }
    .autocomplete-items div {
        padding: 10px;
        cursor: pointer;
        background-color: #fff; 
        border-bottom: 1px solid #d4d4d4; 
    }
    .autocomplete-items div:hover {
        background-color: #e9e9e9; 
    }
    .autocomplete-active {
        background-color: DodgerBlue !important; 
        color: #ffffff; 
    }

    .tools-member {
        float: right;
        display: table;
        margin-left: 10px;
        font-size: 14px;
    }

    .tools-member a {
        position: relative;
        padding: 5px 0;
        text-align: center;
        font-size: 16px;
        font-weight: bold;
        color: #565;
        cursor: pointer;
    }
    .tools-member a:hover > i {
        border: 1px solid #fff;
        background-color: rgb(161, 161, 161);
        color: #fff;
    }

    .tools-member i { 
        padding: 10px;
        border-radius: 50%;
        border: 1px solid #ccc;
        background-color: #fff;
        color: #000;
        -webkit-transition: 0.2s;
        -o-transition: 0.2s;
        transition: 0.2s;
    }
    .tools-member .fa-user {
        padding: 10px 12.5px;
    }
    .tools-member .fa-shopping-cart {
        padding: 10px 11px;
    }

    .member {
        position: relative;
        float: left;
        display: table-cell;
    }
    .member:hover > .menuMember{
        z-index: 20;
        transform: translateX(-40%) scale(1);
    }
    .member .menuMember {
        position: absolute;
        left: 0;
        text-align: center;
        border-radius: 5px;
        background-color: #eee;
        min-width: 170px;
        transition-duration: .15s;
        transform: translateX(-40%) scale(0);
    }
    .member .menuMember a {
        display: block;
        padding: 10px 0;
    }
    .member .menuMember a:hover {
        background-color: #888;
        color: #eee;
    }
    .member .hide {
        display: none;
    }

    .cart {
        float: left;
        display: table-cell;
        /* border-left: 1px solid #bbb; */
        margin: 0 15px; 
        padding-left: 5px;
    }
    .cart-number {
        position: absolute;
        left: 1.4em;
        bottom: -1em;
        font-weight: bold;
        font-size: 1em;
        color: red;
        border-radius: 50%;
        width: 2em;
        height: 2em;
        line-height: 2em;
        text-align: center;
    }
    .cart .cart-number {
        transition-duration: .4s; 
    }

    .banner {
		background: #f5f5f5;
		padding-top:  10px;
		border-bottom: 1px solid #e1e1e1;
	}

    .containTaikhoan {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        z-index: 14;
        background-color: rgba(44, 69, 88, 0.9);
        transition: .2s ease;
        transform: scale(0);
      }

      .containTaikhoan .close {
        position: fixed;
        top: 5px;
        right: 5px;
        font-size: 3rem;
        width: 1em;
        height: 1em;
        line-height: 1em;
        text-align: center;
        color: #aaa;
        cursor: pointer;
        transition: .2s ease;
      }
      
      .containTaikhoan .close:hover {
        color: #fff;
        background-color: #f33;
        border-radius: 50%;
      }
      
      .taikhoan {
        background: rgba(19, 35, 47, 0.9);
        padding: 40px;
        max-width: 600px;
        margin: 30px auto;
        border-radius: 4px;
        box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
        font-family: Arial, Helvetica, sans-serif;
      }
      
      .taikhoan,
      .taikhoan * {
        box-sizing: border-box;
      }
      
      .taikhoan a {
        text-decoration: none;
        color: #1ab188;
        transition: .5s ease;
      }
      
      .taikhoan a:hover {
        color: #179b77;
      }

      .tab-group {
        list-style: none;
        padding: 0;
        margin: 0 0 40px 0;
      }

      .tab-group:after {
        content: "";
        display: table;
        clear: both;
      }

      .tab-group li a {
        display: block;
        padding: 15px;
        background: rgba(160, 179, 176, 0.25);
        color: #a0b3b0;
        font-size: 20px;
        float: left;
        width: 50%;
        text-align: center;
        cursor: pointer;
        transition: .5s ease;
      }
      
      .tab-group li a:hover {
        background: #179b77;
        color: #ffffff;
      }
      
      .tab-group .active a {
        background: #1ab188;
        color: #ffffff;
      }
      
      .tab-content>div {
        display: block;
      }

      .tab-content>div:last-child {
        display: none;
      }
      
      .taikhoan h1 {
        text-align: center;
        color: #ffffff;
        font-weight: 300;
        margin: 0 0 40px;
      }
      
      .taikhoan label {
        position: absolute;
        -webkit-transform: translateY(6px);
        transform: translateY(6px);
        left: 13px;
        color: rgba(255, 255, 255, 0.5);
        transition: all 0.25s ease;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        pointer-events: none;
        font-size: 22px;
      }
      
      .taikhoan label .req {
        margin: 2px;
        color: #1ab188;
      }
      
      .taikhoan label.active {
        -webkit-transform: translateY(-25px);
        transform: translateY(-25px);
        left: 2px;
        font-size: 17px;
      }
      
      .taikhoan label.active .req {
        opacity: 0;
      }

      .taikhoan label.highlight {
        color: #ffffff;
      }
      
      .taikhoan input,
      .taikhoan textarea {
        font-size: 22px;
        display: block;
        width: 100%;
        height: 100%;
        padding: 5px 10px;
        background: none;
        background-image: none;
        border: 1px solid #a0b3b0;
        color: #ffffff;
        border-radius: 0;
        transition: border-color .25s ease, box-shadow .25s ease;
      }
      
      .taikhoan input:focus,
      .taikhoan textarea:focus {
        outline: 0;
        border-color: #1ab188;
      }
      
      .taikhoan textarea {
        border: 2px solid #a0b3b0;
        resize: vertical;
      }
      
      .field-wrap {
        position: relative;
        margin-bottom: 40px;
      }
      
      .top-row:after {
        content: "";
        display: table;
        clear: both;
      }
      
      .top-row>div {
        float: left;
        width: 48%;
        margin-right: 4%;
      }
      
      .top-row>div:last-child {
        margin: 0;
      }

      .taikhoan .button {
        border: 0;
        outline: none;
        border-radius: 0;
        padding: 15px 0;
        font-size: 2rem;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: .1em;
        background: #1ab188;
        color: #ffffff;
        transition: all 0.5s ease;
        -webkit-appearance: none;
        cursor: pointer;
      }
      
      .taikhoan .button:hover,
      .button:focus {
        background: #179b77;
      }
      
      .taikhoan .button-block {
        display: block;
        width: 100%;
      }
      
      .taikhoan .forgot {
        margin-top: -20px;
        text-align: right;
      }